@model Komis.ViewModels.HomeVm



<h2>@Model.Tytul</h2>

@foreach (var samochod in Model.Samochody)
{
    <div>
        <h2>@samochod.Marka</h2>
        <h2>@samochod.Model</h2>
        <h3>@samochod.RokProdukcji</h3>
    </div>

}




