@model IEnumerable<Komis.Models.Samochod>



<h2>@ViewBag.Tytul</h2>

@foreach (var samochod in Model)
{
    <div>
        <h2>@samochod.Marka</h2>
        <h2>@samochod.Model</h2>
        <h3>@samochod.RokProdukcji</h3>
    </div>

}




